# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: maven-ci

on:
  push:
    branches: 
      - master
      - '0.6.x'
    paths-ignore: 
      - '**.md'
      - '.gitignore'
      - '.github/workflows/maven-cd.yml'

  pull_request:
    branches-ignore: [ ]
    paths-ignore: 
      - '.gitignore'
      - 'LICENSE'
      - '**.md'
      - '.github/workflows/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:3.6.0.1398:sonar -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_LOGIN -Dsonar.organization=$SONAR_ORGANIZATION -Dsonar.projectKey=$SONAR_PROJECT_KEY
      env:
        SONAR_LOGIN: ${{ secrets.SONAR_LOGIN }}
        SONAR_PROJECT_KEY: 'converter-codegen'
        SONAR_ORGANIZATION: 'careem'
        SONAR_HOST_URL: 'https://sonarcloud.io'
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#     - name: SonarCloud Scan
#       uses: sonarsource/sonarcloud-github-action@master
#       with:
#         projectBaseDir: .
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
